:root{
    --bg-color: #453d5e;
    --font-color: #ffffff;
    --bg-special: #302749;
    --font-special: white;
    --color-1: #0efa79;
    --color-2: #fa0ea7;
    --color-3: #cffa0e;

}
*::selection{
    background: var(--color-1);

}
body{
    overflow-x: hidden;
    transition: transform 0.3s;

}


a{
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 0;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: var(--bg-special);
}
