main.user_editor{
    padding: 20px 0 40px 20px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 6%;


    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        text-align: center;
        p{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
        section.fields{
            display: flex;
            gap: 10px;
            flex-direction: column;
        }
        .helptext{
            display: none;
        }
        a{
            color: var(--font-color);
            padding: 10px;
            max-width: 250px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        input[type=file]::file-selector-button{
                display: none;
            }
        ul{
            display: none;
        }

        input{
            font-size: 20px;
            background-color: transparent;
            padding: 10px;
            max-width: 100%;
            margin: 5px 0;
            color: var(--font-color);
            border-radius: 0;
            border: 0;
            border-bottom: 3px solid var(--font-color);

            &:focus{
                outline: none;
            }
        }
        label{
            font-size: 20px;
            padding: 10px;
        }
        button{
            font-size: 20px;
            padding: 5px;
            margin: 5px;
            border-radius: 3px;
            border: 0;
            display: inline-block;
            width: 100px;
            text-align: center;
            background-color: var(--bg-special);
            color: var(--font-special);
            cursor: pointer;
        }
    }
}
 .top-info{
        background-color: transparent;
        padding: 20px;
        display: flex;
        border-radius: 20px;
        justify-content: space-around;
        align-items: center;
        color: var(--font-special);
        div{
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
        h1{
            font-size: 30px;
        }
        img{
            width: 100px;
            border-radius: 50%;
        }
        a{
            color: var(--font-special);
            font-size: 20px;
            padding: 10px;
        }
    }

